head 
    include layouts/main.pug
body 
    div(class="container pt-5 pb-5")
        div(class="row align-items-center pt-5 pb-5" style="font-size:24px; justify-content:center")     
            div(class="col")
                bi.bi-person-fill(style="font-size:32px") 
                a(href="/view-user/0")="View User Detail"
                

            div(class="col")
                bi.bi-telephone-fill(style="font-size:32px") 
                a(href="/contact")="Contact Us"
                        


